@import "tailwindcss";
@source "../../components";

@theme {
  --color-brand-light: #ffffff;
  --color-brand-dark: #111111;
  --color-brand-accent: #ff3366;
}

body {
  background-color: #f9fafb; /* gray-50 for admin */
  color: var(--color-brand-dark);
  min-height: 100vh;
}
